/* hide unwanted elements */
.titlebar-spacer,
.urlbar-page-action,
#nav-bar-overflow-button,
#urlbar-zoom-button {
    display: none !important;
}

/* auto hide tracking protection */
#tracking-protection-icon-container {
    display: none;
}

/* tighten space around ssl padlock */
#identity-box {
    margin: 0;
    padding: 0;
}

#urlbar-container {
    margin-left: -10px;
}

/* hide main menu */
#PanelUI-button {
    display: none !important;
}

/* colour urls in dropdown bar */
.urlbarView {
    --urlbar-popup-url-color: #7e7e7e;
}

/* auto hide forward/back buttons - Uncomment to activate */
/* :root:not([customizing]) #nav-bar toolbarbutton {
    margin-left: -28px !important;
    opacity: 0 !important;
    transform: scale(.85, .85) !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover>#nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover>#titlebar toolbarbutton {
    transform: scale(1, 1) !important;
    opacity: 1 !important;
    margin-left: 0 !important;
    pointer-events: auto !important;
} */